.header {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-items: center;

    .header-box {
        display: flex;
        flex-direction: row;
        background-color: gray;
        margin-right: 3vw;
        justify-content: space-around;
        align-items: center;
        height: 50px;
        width: 200px;
        .header--box--element {
            width: 30px;
            height: 30px;
            background-color: beige;
            border: 1px solid black;
        }
   
    }
}