@import './tokens';
@mixin main--posts {
width: 50vw;
height: 15vh;
background-color: $gray;
}
@keyframes hoverAnim {
    0% {
    background: $lightgray;
    }
 
    to {
      transform: scale(1.1);
      background: $almostwhite;
      
    }
  }
@mixin hover {
    animation: hoverAnim  1s ease-in-out;
  }