@import './tokens';
@import './mixins';

.sidebar {
    
    display: flex;
    position: relative;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
    padding-bottom: 5vh;
    background-color: $darkblue;

   
    .sidebar--sidebar {
       
        background-color: $lightgray;
        width: 15vw;
        height: 8vh;
        &:hover {
            @include hover;
          }
       
    

    }
   .sidebar--divider{
    width: 18vw;
    height: 2px;
    background-color: rgb(255, 255, 255);
   }
    .sidebar--title {
        font-family: 'Ubuntu';
        color: $white;
        align-self:flex-start;
        display: inline-block;
        margin-left: 3vw;
        
    }
}