

.sidebar {
    
    display: flex;
    position: relative;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
    padding-bottom: 5vh;

   
    .sidebar--sidebar {
       
        background-color: darkolivegreen;
        width: 15vw;
        height: 8vh;
       
    

    }
   .sidebar--divider{
    width: 18vw;
    height: 2px;
    background-color: black;
   }
    .sidebar--title {
        font-family: 'Ubuntu-Regular';
        align-self:flex-start;
        display: inline-block;
        margin-left: 3vw;
        
    }
}